<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> American Bank | Transactions </title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel = "stylesheet" href = "../css/custom.css">
</head>
<body>
<div id = "app">
  <div class = "sidebar sidebar-expand">
    <div class = "sidebar-header">
      <div class = "menu-collapsed">American Bank</div>
    </div>
    <div class = "sidebar-content">
      <div class = "sidebar-menu">
        <ul>
          <li>
            <a href = "accounts.html">
              <span><i class="fa-solid fa-file-circle-plus side-icon"></i></span>
              <span class = "menu-collapsed">Accounts </span>
            </a>
          </li>
          <li>
            <a href = "transactions.html">
              <span><i class="fa-solid fa-magnifying-glass side-icon"></i></span>
              <span class = "menu-collapsed">Transactions</span>
            </a>
          </li>
          <li>
            <a href = "loans.html">
              <span><i class="fa-solid fa-magnifying-glass-dollar side-icon"></i></span>
              <span class = "menu-collapsed"> Get a Loan </span>
            </a>
          </li>
          <li>
            <a href = "cards.html">
              <span><i class="fa-solid fa-credit-card side-icon"></i></span>
              <span class = "menu-collapsed"> Manage Cards </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!---- ****************************************************************************  --->
  <div id = "main-content" class = "main-content main-content-expanded">
    <!---- ****************************************************************************  --->
    <div class = "top-menu d-flex">
      <div class = "nav-start nav-title nav-centered">
        <a href = "#" id="sidebar-collapse" onclick="expandCollapseSidebar()">
          <span id = "collapse-icon"><i class="fa-solid fa-bars"></i></span>
        </a>
      </div>
      <div class = "nav-center nav-centered"></div>
      <div class = "nav-end nav-centered">
        <ul class = " d-flex list-unstyled" >
          <li class = "top-menu-item"> Transactions </li>
          <li class = "top-menu-item"><a href = "#" class = "text-decoration-none"> Logout </a></li>
        </ul>
      </div>
    </div>
    <!---- ****************************************************************************  --->
    <div class = "container main-content main-content-expanded">
      <div class = "mt-1">

        <div class="form-group">
          <h5> Filter by client </h5>
          <select id ="clientsAccount" @change="filterAccount($event)">
            <option value = "-1">  </option>
            <option v-for="(client, i) in clientData" :value="client.id"> {{ client.firstName + " " + client.lastName }} </option>
          </select>
          <h5> Select an account </h5>
          <select id ="clientsAccount" @change="filterTransaction($event)">
            <option value = "-1">  </option>
            <option v-for="(account, i) in accountData" :value="account.id"> {{ account.numberOfAccount }} </option>
          </select>
        </div>
        <h5> Transactions done on the account {{ accountChosen }} </h5>
        <table class = "table">
          <thead>
          <tr>
            <!-- private long id;
            private String firstName;
            private String lastName;
            private String email; -->
            <th> Amount </th>
            <th> Description </th>
            <th> Creation date </th>
            <th>  </th>
            <th> <button @click="createTransaction(account)" type="button" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i></button> </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(transaction, i) in transactionData">
            <td> {{ transaction.amount }} </td>
            <td> {{ transaction.description }} </td>
            <td> {{ transaction.date }} </td>
            <td> <button @click="createTransaction(account)" type="button" class="btn btn-success"><i class="fa-solid fa-circle-plus"></i></button> </td>
            <td> <button @click="createTransaction(account)" type="button" class="btn btn-danger"><i class="fa-solid fa-circle-minus"></i></button> </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!---- ****************************************************************************  --->
</div>


<script src="https://kit.fontawesome.com/19b971d5e3.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="../js/main.js"></script>
</body>
</html>