@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;900&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.body-main{
  width: 100%;
  height: 100%;
  display: flex;
}

.content__main{
  height: 100%;
  background-color: #14141a;
}

.content__main-collapse{
  margin-left: 15%;
  width: 85%;
}

.content__main-expand{
  margin-left: 10%;
  width: 90%;
}

.div__flex{
  display: flex;
}

.navbar__main{
  z-index: 20;
  position: fixed;
  background-color: #1c1c24;
}

.navbar__main-collapse{
  width: 85%;
}

.navbar__main-expand{
  width: 90%;
}

.navbar__main ul{
  justify-content: space-between;
}

.navbar__main ul li a{
  display: block;
  padding: 20px;
  color: #6c7293;
  font-size: 16px;
}

.navbar__main ul li a i{
  color: white;
  padding: 5px;
}

button{
  margin-right: 0.5rem;
}

.navbar__main button{
  border: 1px solid transparent;
  padding: 10px 20px 10px 20px;
}

.txt__success{
  transition: all 1s ease;
  background: linear-gradient(to top, #00d25b 50%, #1c1c24 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: all 1s ease;
}

.txt__success:hover{
  color: white;
  background-position: bottom;
}

.txt__error{
  transition: all 1s ease;
  background: linear-gradient(to top, #ed2b2b 50%, #1c1c24 50%);
  background-size: 100% 200%;
  background-position: top;
  transition: all 1s ease;
}

.txt__error:hover{
  color: white;
  background-position: bottom;
}

.btn_success{
  background-color: #00d25b;
  color: white;
}

.btn_error{
  background-color: #ed2b2b;
  color: white;
}

.sidebar__main{
  z-index: 11;
  position: fixed;
  height: 100%;
  background-color: #1c1c24;
}

.sidebar__expand{
  width: 15%;
}

.sidebar__collapse{
  width: 10%;
}

.sidebar__main-top{
  position: relative;
  height: 10%;
  text-align: center;
  width: 100%;
  color: white;
  border-bottom: 1px solid #080404;
  border-right: 1px solid #080404;
}

.div__center{
  margin: 0;
  position: absolute;
  top: 50%;
  right: 20%;
  left: 20%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sidebar__profile{
  position: relative;
  width: 100%;
  height: 25%;
  border-bottom: 1px solid #080404;
  font-size: 10px;
}

.sidebar__profile .div__center{
  left: 5%;
  right: 5%;
}

.sidebar__profile .div__flex{
  justify-content: space-around;
}

.sidebar__menu{
  height: 65%;
}

.sidebar__menu ul{
  margin: 0;
  padding: 0;
}

.sidebar__menu li{
  background-color: #1c1c24;
  transition: all 500ms ease;
}

.sidebar__menu li:hover{
  background-color: #080404;
}

.sidebar__menu li:hover > a{
  color: white;
}

.sidebar__menu li a{
  transition: all 500ms ease;
  display: block;
  padding: 10px 20px 10px 20px;
  color: #6c7293;
}

.sidebar__menu li a i{
  padding: 0px 10px 0px 0px;
}

.div__lobster{
  font-family: 'Lobster', cursive;
  font-size: 18px;
}

#profile-picture{
  width: 100%;
  max-width: 80px;
  height: auto;
  max-height: 80px;
  border-radius: 50%;
}

.font__size20{
  font-size: 20px;
}

.div__hidden{
  display: none;
}

.txt__center{
  text-align: center;
}
